<a href="https://colab.research.google.com/github/MUmairAB/Twitter-Sentiment-Analysis/blob/main/Twitter_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

We need to extract the tweet data from Twitter. To do that, we'll use **Snscrape**. It is a scraper for **social networking services (SNS)**. 

First, we'll install it and then use it to extract the required data.

In [7]:
# Installing the snscrape module
! pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: snscrape in /usr/local/lib/python3.8/dist-packages (0.5.0.20230113)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from snscrape) (2.25.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from snscrape) (3.9.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from snscrape) (2022.7.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.7.1)

Since, **snscraper** is successfully installed, we will now load the module.

In [8]:
# Importing the module
import snscrape.modules.twitter as sntwitter

Now, we will use **snscraper's** **TwitterSearchScraper** function to scrape the twitter data.

We are extracting **2000 tweets** per day for the **1080 days**, i.e., last **3 years**. The tweets are related to **Climate Change**.

This amounts to **2,160,000** or **2.1 million** tweets.

In [15]:
# extracting today's date
#current_date = datetime.now().date() 

current_date = (datetime.now().date() - timedelta(days=401))

# 3 years timeline
days = 30

# max tweets to extract in a day
max_tweets = 3000

# list to store the tweets
tweets = list()

while days >0:
    loop_date = (current_date - timedelta(days=days))

    # Using for loop to scrape tweets data on "Climate Change"
    for num_of_tweets, tweet in enumerate(sntwitter.TwitterSearchScraper(\
                  'climate change').get_items()):
        if num_of_tweets>max_tweets:
            break
        tweets.append([tweet.date, tweet.id, tweet.rawContent, tweet.user.username,\
                      tweet.likeCount, tweet.retweetCount, tweet.lang])
    days -= 1

In [16]:
# converting the tweet data to a DataFrame
tweets_df = pd.DataFrame(tweets, columns=['Datetime', 'Tweeter Id', 'Content', 'Twitter Username',\
                                 'Likes','No of Retweets','Tweet Language'])

# display first 5 entries from dataframe
tweets_df.head()

,Datetime,Tweeter Id,Content,Twitter Username,Likes,No of Retweets,Tweet Language
0,2023-02-28 14:25:30+00:00,1630574922220306433,One of the big questions in the climate change...,ereatareanuna,0,0,en
1,2023-02-28 14:25:25+00:00,1630574898497179650,"@ilovejohnkimble ""What the Hell could have don...",TKM_Madness,0,0,en
2,2023-02-28 14:25:22+00:00,1630574888502317057,Did you miss our Engineering - Solving Problem...,FindingAda,0,0,en
3,2023-02-28 14:25:21+00:00,1630574885536661504,@DoorknobMedia @macareuxmoine12 @leslibless @U...,JonnyBagz3,0,0,en
4,2023-02-28 14:25:11+00:00,1630574840745717762,The impacts of climate change on sea temperatu...,NewOnNORA,0,0,en

In [ ]:
#old_tweets = tweets_df

In [17]:
# saving the tweets data
tweets_df.to_csv('tweets_data19.csv',index=False)